<p><span  >Increase the number of copies you store to three, with one copy in a different geographic location. This will allow recovery in the event of a local disaster. The form of the copies depends on the institution: cloud services might be the best option for </span></p>
			 
			<p><span  >Create documentation about your storage system. This could be as simple as describing your agreement or contract with your IT department. If you use an external service for storage, document the contract and terms and conditions for retrieving data. If there are expenses involved in retrieving data, document who pays.</span></p>
			 
			<p><span  >Resources: </span></p>
			<ul>
			<li  ><span  >Definations, pros and cons of cloud services: </span><a href="http://handbook.dpconline.org/technical-solutions-and-tools/cloud-services"><span  >http://handbook.dpconline.org/technical-solutions-and-tools/cloud-services</span></a></li>
			<li  ><span  >List of DP networks, duracloud</span></li>
			<li  ><span  >List of general cloud vendors?</span></li>
			</ul>