 <p><span>Get a backup. Make sure your storage system is backed up (reword). This could range from an external hard drive to a storage system managed by your institution's IT department.</span></p>
			 
			<p><span>Get things off heterogeneous media and onto a storage system. ‘Heterogeneous media’ might be floppy discs, CD-Rs, DVD-Rs, internal or external hard drives, and thumb or flash drives. These aren’t appropriate storage spaces for digital preservation. Read and follow OCLC’s </span><a href="http://www.oclc.org/content/dam/research/publications/library/2012/2012-06.pdf"><em><span>You’ve Got to Walk Before You Can Run: First Steps for Managing Born-Digital Content Received on Physical Media</span></em></a><span>.</span></p>
			 
			<p><span>(more detailed steps of transferring to a managed storage environment?)</span></p>
			 
			<p><span>Tools: (explain each more, link to coptr?)</span></p>
			<ul>
			<li><span>Bag-it</span></li>
			<li><span>bagger</span></li>
			<li><span>bit curator</span></li>
			</ul>