<p>This NDSA category focuses on two things: (1) progressively reducing risk by storing multiple copies of data in dispersed geographic locations, and (2) storage documentation and planning.</p> 

<p>When multiple copies are stored in different locations, one copy can be recovered in the event or loss or damage to the other copy. As the Digital Preservation Handbook explains, loss or damage might be caused by “fire, flood, failure to instigate or follow proper processes or procedure, malicious attack, media degradation, and obsolescence of storage systems and technologies.” (citation). Risks will be unique to an institution and should be evaluated as a part of disaster planning.</p>

<p>A perfect storage system is not actually perfect if staff don’t know how to recover data if needed or if recovery is prohibitively expensive. Moving to levels 2, 3, and 4 involve documenting, monitoring, and planning for future systems.
</p>