<div class="panel-group" id="accordion">
<div class="panel panel-default ">
<div class="panel-heading">
<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">Technical metadata <span class="glyphicon glyphicon-chevron-down smalltxt"></span></a></h3></div>
  <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
  <div class="panel-body">
  <p>Information about how the file was created, its format, whether it be born digital or analog to digital capture. This can include scanner information; color space/ profiles; capture date; operator; and any inhibitors to the file.</span><br/><br/></span></p>
</div>
</div>
</div>



<div class="panel panel-default ">
<div class="panel-heading">
<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">Descriptive metadata <span class="glyphicon glyphicon-chevron-down smalltxt"></span></a></h3></div>
  <div id="collapseTwo" class="panel-collapse collapse ">
  <div class="panel-body">
   <p>Descriptive Metadata enables identification, location and retrieval of information resources by users, often including the use of controlled vocabularies for classification and indexing and links to related resources. (DCC citation) </p>

</div>
</div>
</div>



<div class="panel panel-default ">
<div class="panel-heading">
<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">Administrative Metadata<span class="glyphicon glyphicon-chevron-down smalltxt"></span></a></h3></div>
  <div id="collapseThree" class="panel-collapse collapse ">
  <div class="panel-body">
	<p>Administrative Metadata is used to manage administrative aspects of the digital object such as intellectual property rights and acquisition. Administrative Metadata also documents information concerning the creation, alteration and version control of the metadata itself. This is sometimes known as meta-metadata! (DCC citation) </span><br/></span><em>PREMIS metadata</span></em><em><br/></span></em>PREMIS metadata captures the history of the digital object, including </span></p>
<ul>
<li>Provenance: </span><em>Who has had custody/ownership of the digital object?</span></em></li>
<li>Authenticity: </span><em>Is the digital object what it purports to be?</span></em></li>
<li>Preservation Activity: </span><em>What has been done to preserve the digital object?</span></em></li>
<li>Technical Environment: </span><em>What is needed to render and use the digital object?</span></em></li>
<li>Rights Management: </span><em>What IPR must be observed?</span></em></li>
</ul>
</ul>

</div>
</div>
</div>

</div>