<table>
<tbody>
<tr>
<th>
 
</th>
<th>
<p><span  >Level 1 (Protect your data)</span></p>
</th>
<th>
<p><span  >Level 2 (Know your data) </span></p>
</th>
<th>
<p><span  >Level 3 (Monitor your data)</span></p>
</th>
<th>
<p><span  >Level 4 (Repair your data) </span></p>
</th>
</tr>
<tr>
<td>
<p class="center"><a href="fixity.html">File Fixity and Data Integrity</a></p>
 
</td>
<td>
<ul>
{% for bullet in site.data.fixity.level-1 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.fixity.level-2 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.fixity.level-3 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
  <ul>
{% for bullet in site.data.fixity.level-4 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
</tr>
<tr>
<td>
<p class="center"><a href="formats.html">File Formats</a></p>
 
</td>
<td>
<ul>
{% for bullet in site.data.formats.level-1 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.formats.level-2 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.formats.level-3 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
  <ul>
{% for bullet in site.data.formats.level-4 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
</tr>
<tr>
<td>
<p class="center"><a href="metadata.html">Metadata</a></p>
 
</td>
<td>
<ul>
{% for bullet in site.data.metadata.level-1 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.metadata.level-2 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.metadata.level-3 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
  <ul>
{% for bullet in site.data.metadata.level-4 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
</tr>
<tr>
<td>
<p class="center"><a href="security.html">Information Security</a></p>
 
</td>
<td>
<ul>
{% for bullet in site.data.security.level-1 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.security.level-2 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.security.level-3 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
  <ul>
{% for bullet in site.data.security.level-4 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
</tr>
<tr>
<td>
<p class="center"><a href="storage.html">Storage and Geographic Location</a></p>
 
</td>
<td>
<ul>
{% for bullet in site.data.storage.level-1 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.storage.level-2 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
<ul>
{% for bullet in site.data.storage.level-3 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
<td>
  <ul>
{% for bullet in site.data.formats.level-4 %}
  <li>
    
      {{ bullet.text }}
     
   
  </li>
{% endfor %}
</ul>
</td>
</tr>
</tbody>
    <br />
</table>