
<p> Stay abreast of the FADGI (Federal Agency Digitization Guidelines Initiative) and Library of Congress &nbsp;sustainability guidelines. &nbsp;Useful sites include: </p>

<ul>
<li  ><a href="http://www.digitalpreservation.gov/formats/index.shtml"> http://www.digitalpreservation.gov/formats/index.shtml </a></li>
<li  ><a href="http://www.digitizationguidelines.gov/guidelines/"> http://www.digitizationguidelines.gov/guidelines/ </a></li>
<li  ><a href="http://www.digitizationguidelines.gov/guidelines/File_format_compare.html"> http://www.digitizationguidelines.gov/guidelines/File_format_compare.html </a></li>
</ul>