
<p> Start by identifying file formats that don&rsquo;t conform to your recommended list of preservation formats. </p>
<p> Several tools are available to perform format migrations. </p>
<ul>
    <li> Image Files:  <a href="https://www.imagemagick.org"> ImageMagick </a></li>
<li> Audio/Video Files:  <a href="https://www.ffmpeg.org/"> FFmpeg </a></li>
<li>PDF files:  <a href="http://www.ghostscript.com/"> Ghostscript </a></li>
<li>Illustrator vector graphic files: &nbsp; <a href="https://inkscape.org"> Inkscape </a></li>

<li>General note on Conversion of At-Risk Formats: <a href="http://bentley.umich.edu/about/what-we-do/digital-curation-strategies-and-procedures/680-2/"> Bentley Notes </a></li>
</ul>