<p>Ideally files for long term preservation should be in open (non-proprietary) formats, have relatively complete embedded metadata, and be on non copy-protected media. Embed metadata in files when possible.</p>
<p>For guidelines on determining sustainable formats, see : &ldquo;<a href="http://www.digitalpreservation.gov/formats/index.shtml">Sustainability of Digital Formats Planning for Library of Congress Collections&rdquo;</a>. The &lsquo;Content Categories&rsquo; section is particularly useful. </p>
<p>An example set of guidelines is provided in the table below, and is loosely based off of the 
<a href="http://bentley.umich.edu/about/what-we-do/digital-curation-strategies-and-procedures/680-2/">Bentley Historical Library &ldquo;Format Conversion Strategies For Long-Term Preservation&rdquo;.</a></p>

<table>
<tbody>
<tr>
<td>
<p><strong>Data Type</strong></p>
</td>
<td>
<p><strong>Acceptable Formats in order of preference</strong></p>
</td>
<td>
<p><strong>Notes &nbsp;</strong></p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/text_preferences.shtml">Text</a></p>
</td>
<td>
<p>PDF/A, PDF, Office Open XML, Microsoft Office Open XML formats</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/video_preferences.shtml">Moving Image</a></p>
</td>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/fdd/fdd000028.shtml">MPEG-2</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000081.shtml">MPEG-4_AVC</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000080.shtml">MPEG-4_V</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000035.shtml">MPEG-1</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000059.shtml">AVI</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000052.shtml">QuickTime</a>, <a href="http://www.digitalpreservation.gov/formats/fdd/fdd000091.shtml">WMV</a></p>
</td>
<td>
<p><a href="#" data-toggle="popover" data-placement="top"  data-content="Prefer formats that are not copy-protected, contain relatively complete descriptive and technical metadata. For audio streams in MPEG-2 and -4 formats, AAC is preferred to other audio encodings.">note</a></p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/still_preferences.shtml">Image</a></p>
</td>
<td>
<p>TIFF, JPEG, JPEG2000, GIF, PNG</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><a href="http://www.digitalpreservation.gov/formats/content/sound_preferences.shtml">Sound</a></p>
</td>
<td>
<p>WAV, AIFF, MP3, ACC</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>Email</p>
</td>
<td>
<p>mbox</p>
</td>
<td>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>