<p>In moving from Level 1 to Level 2, we shift from a retroactive position to a proactive one, capturing data and information at the outset of projects, and developing accompanying workflows to do so. Specifically, we seek to tackle administrative metadata. In addition, we start to capture log files of our existing data, and note any transformative event (file migration; refreshing of data; etc) that occurs to our files.</p>
<p>What is administrative metadata?</p>
<ul>
<li>Information about rights and reproduction or other access requirements</li>
<li>Selection criteria or archiving policy for digital content</li>
<li>Audit trails or logs created by a digital asset management system, including persistent identifiers</li>
<li>Administrative metadata may also encompass repository-like information, such as billing information or contractual agreements for deposit of digitized resources into a repository</li>
</ul>