<p>Moving from Level 3 to Level 4 requires a fully fledged digital preservation system, such as Archivematica, Preservica, or a similar system.  Such a system allows for the systematic capture of PREMIS data and &ldquo;events&rdquo; to assist in the long term readability and accessibility of your files.   Regardless,  it&rsquo;s useful to understand what PREMIS documents, and how your digital objects conform to the metadata model. </p>
<h4>PREMIS Data Model:</h4>
<ul>
<li>Provenance: <em>Who has had custody/ownership of the digital object?</em></li>
<li>Authenticity: <em>Is the digital object what it purports to be?</em></li>
<li>Preservation Activity: <em>What has been done to preserve the digital object?</em></li>
<li>Technical Environment: <em>What is needed to render and use the digital object?</em></li>
<li>Rights Management: <em>What IPR must be observed?</em></li>
</ul>
<p>PREMIS Objects have:</p>
<ul>
<li>a unique identifier for the object (type and value)</li>
<li>fixity information such as a checksum and the algorithm used to derive it</li>
<li>the size of the object</li>
<li>the format of the object, which can be specified directly or by linking to a format registry</li>
<li>the original name of the object</li>
<li>information about its creation</li>
<li>information about inhibitors (passwords or encryption, for example)</li>
<li>information about its significant properties</li>
<li>information about its environment (see below)</li>
<ul>
<li>where and on what medium it is stored</li>
<li>relationships with other objects and other types of entities</li>
</ul>
</ul>
<p>PREMIS Events:</p>
<ul>
<li>a unique identifier for the event (type and value)</li>
<li>the type of event (creation, ingestion, migration, etc.)</li>
<li>the date and time the event occurred</li>
<li>a detailed description of the event</li>
<li>a coded outcome of the event</li>
<li>a more detailed description of the outcome</li>
<li>agents involved in the event and their roles</li>
<li>objects involved in the event and their roles</li>
</ul>
<p> </p>
<p><strong>Preservation Metadata in Context</strong></p>
<img src="/images/image02.png">