<ol>
<li>Create your digital object inventory &ndash; Conduct a high level overview of digital assets, capturing the following information (an excel spreadsheet at this point is just fine):</li>

<ul>
<li> Size of existing collection: number of items and storage requirements</li>
<li> Storage location (where and how much redundancy?)</li>
<li> Format of objects</li>
<li> Relationships between objects</li>
<li> Anticipated growth rate- existing and new collections</li>
<li> Existing metadata</li>
<li> Copyright/ access restrictions</li>
<li> Search functionality for objects</li>
<li> Vulnerabilities</li>
</ul>

<li>Where are you storing your inventory? Make sure it is in two places, both within and separate from your data.</li>
</ol>