<p>Before diving in, we&rsquo;d like to suggest that perfection is the enemy of the good when it comes to preservation metadata. It can be intimidating to try to parse out what is needed to adhere to recommended PREMIS standards. It can also be challenging if you don&rsquo;t have a digital preservation infrastructure to support your work. Fear not, there are things that you can begin right away to position yourself for an eventual digital preservation infrastructure. </p>
<h4><em>What is preservation metadata, and why do I need it? </em></h4>
<p>Preserving digital objects over time requires an amalgam of different metadata standards, including technical, administrative, and descriptive metadata, as well as PREMIS metadata (which, simply put, documents everything that happens to a file during its lifetime).</p>


